/* init */
html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
/* variables */

/* CSS Variables */

:root{
    --primary-color: #4458dc;
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

    /* font family variables */
    --roboto: 'Roboto', sans-serif;
}

/* Global Classes */

.font-roboto{
    font-family: var(--roboto);
}

/* Start Navigation */

.header_area .main-menu .navbar .navbar-toggler {
    margin: 0 1rem 0 0;
}

@media only screen and (min-width: 992px) {
    .header_area .main-menu .navbar .d-flex {
    height: 35px;
    flex-grow: 1;
    flex-shrink: 0;
    }
}

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 1rem;
    position: relative;
}

.header_area .main-menu .navbar{
    padding: 1rem 0 3rem 0;
}

.header_area .main-menu .nav-item .nav-link{
    font-family: var(--roboto);
    text-transform: uppercase;
    padding: 1rem 1rem 0 1rem;
}

select{
  font-family: var(--roboto);
  text-transform: capitalize;
  padding: 0;
  margin: 1rem 0 0 1rem;
  box-sizing: border-box;
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
}

/* End Navigation*/

/* Start Banner Area */

.site-main .site-banner{
    background: url("images/banner/home-banner-new.png") no-repeat;
    background-position: 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 25%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}

.title-text{
    font: normal bold 50px/72px var(--roboto);
}

.text-uppercase{
    text-transform: uppercase;
}

/* Buttons */

.site-main .site-banner .side-buttons button, .about-area button, .portfolio-area button{
    font: normal 16px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
    display: block;
}

.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.button.primary-button::after, .button.secondary-button::after{
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: var(--gradient-color);
    content: '';
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button{
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;
}

.button.secondary-button:hover{
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}

.polish-home-buttons{
    padding: 0.8rem 1.7rem;
}

.english-home-buttons{
    padding: 0.8rem 2.5rem;
}


/* End Banner Area */

/* Start About Area */

.about-area{
    padding: 1rem 0 1rem 0;
}

@media only screen and (min-width: 666px) {
    .about-area{
        padding: 1rem 3rem 1rem 9rem;
    }
}

.about-area .about-title h2 > span{
    display: block;
    font: normal bold 40px/50px var(--roboto);
    letter-spacing: 5px;
}

@media only screen and (min-width: 414px) {
    .about-area .about-title h2 > span{
        display: block;
        font: normal bold 49px/60px var(--roboto);
        letter-spacing: 5px;
    }
}

.about-area .about-title .paragraph > p{
    padding: 0.3rem 0;
}

p.para{
    color: var(--text-color);
    font: normal 16px/25px var(--roboto);
}

/* End About Area */

/* Start Experience Area */
.brand-area{
    float: none;
    padding: 2rem 0 2rem 0;
    overflow: hidden;
}

@media only screen and (min-width: 430px) {
    .brand-area{
        float: none;
        padding: 2rem;
        overflow: hidden;
    }
}

.brand-area .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 1rem;
    margin: 0.9rem 1rem;
    width: 350px;
    height: 160px;
    cursor: pointer;
    transition: transform .4s ease;
}

.brand-area .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.brand-area .single-brand:hover img{
    filter: brightness(0.15);
}

.brand-area .experience-area span{
    display: block;
    font: normal bold var(--roboto);
}

.brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
    left: 40px;
}

.brand-area .experience-area h2{
    position: absolute;
}

.brand-area .experience-area .bg-panel{
    position: absolute;
    left: -210px;
    top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.brand-area .experience-area .years-area{
    background: url("images/client-info-bg.png") no-repeat 45px 20px;
    padding: 2rem 0 5rem 6rem;
    width: 40rem;
    height: 18rem;
    position: relative;
}

.brand-area .experience-area .call-area{
    padding-left: 7rem;
}

/* End Experience Area */

/* Start Portfolio Area */

.portfolio-area{
    float: none;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

.portfolio-area h2{
    text-align: center;
    padding-bottom: 1rem;
}

.portfolio-area .col-lg-4{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.portfolio-area .col-lg-4 > .single-project{
    align-items: center;
    align-content: center;
    text-align: center;
    width: 370px;
    height: 325px;
    cursor: pointer;
    transition: transform .4s ease;
}

.overlay{
  border-radius: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  background-color: whitesmoke;
}

.container-portfolio:hover .overlay{
    opacity: 0.9;
}

.text{
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.image{
    border-radius: 15px;
    display: block;
    width: 100%;
    height: auto;
}

.container-portfolio{
    position: relative;
    margin: 1rem 0;
    cursor: pointer;
    padding: 0 0;
    width: 370px;
    height: 325px;
}

.overlay > .portfolio-flex{
    margin-top: 52%;
}

.button-overlay{
    margin: 0 auto;
}

/* End Portfolio Area */

/* Start Contact Area */

.contact-area .form-area form{
    max-width:420px;
    margin: 0 auto;
    overflow: hidden;
}

.contact-area .form-area{
    padding: 1rem 2rem;
    margin: auto;
}

.contact-area h2{
    text-align: center;
    padding-bottom: 1rem;
}

.contact-area .feedback-input{
    color:black;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid var(--primary-color2);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.contact-area .feedback-input:focus {
    border: 2px solid var(--primary-color);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.contact-area .form-area .contact-submit{
  background: var(--gradient-color);
  background-clip: padding-box;
  color: whitesmoke;
  transition: background .6s ease;
  box-shadow: var(--box-shadow);
  position: relative;
  border: 3px solid transparent;
  border-radius: 7px;
  width: 100%;
  cursor:pointer;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  margin-top:-4px;
}
.contact-area .form-area .contact-submit:hover {
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.contact-area .form-area .contact-submit::after{
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: var(--gradient-color);
    content: '';
    z-index: -1;
    border-radius: 4px;
}

.contact-area .toast {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.contact-area .toast-show {
    opacity: 1;
}

.contact-area .toast-hide {
    opacity: 0;
    transition: opacity 1s;
}

/* End Contact Area */