{% extends "blog/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}

    <script>
        $(document).ready(function() {
        $(".primary-button").click(
            function (event) {
                document.getElementById(this.getAttribute("data-link")).click();
            }
        )
    })
    </script>

    <section class="about-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-image">
                        <img src="{% static 'blog/images/about-us.png' %}" alt="About me" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 about-title">
                    <h2 class="text-uppercase pt-5">
                        <span>{% trans "Let me" %}</span>
                        <span>{% trans "introduce" %}</span>
                        <span>{% trans "myself" %}</span>
                    </h2>
                    <div class="paragraph py-4 w-75">
                        <p class="para">
                            {% trans "I am an ambitious high school student who is passionate about science, economy and financial markets. Through my education I took part in many competitions and olympiads. My greatest achievement was getting to the final of the team IT Olympics in middle school and receiving scholarships from Rada Powiatu Wrocławskiego and Akademickie Liceum Ogólnokształcącej Politechniki Wrocławskiej for my science achievements." %}
                        </p>
                    </div>
                    <a id="cvLink" href="{% static 'blog/CV_Kelner_Mateusz.pdf' %}" target="_blank"></a>
                    <button data-link="cvLink" type="button" class="btn button primary-button text-uppercase">{% trans "get my cv" %}</button>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}