{% extends "blog/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}

    <script>
        function handle_toast_hide() {
            $(".toast").removeClass("toast-show").addClass("toast-hide")
        }
    </script>

    <section class="contact-area">
        <h2 class="font-roboto">{% trans "Contact Me" %}</h2>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-area">
                <form action="{% url 'blog-contact' %}" method="POST">
                    {% csrf_token %}
                    <input name="message-name" type="text" class="feedback-input font-roboto" placeholder="{% trans "Name" %}" required/>
                    <input name="message-email" type="text" class="feedback-input font-roboto" placeholder="Email" required/>
                    <input name="message-subject" type="text" class="feedback-input font-roboto" placeholder="{% trans "Subject" %}" required/>
                    <textarea name="message" class="feedback-input font-roboto" placeholder="{% trans "Message" %}" required></textarea>
                    <div class="d-flex flex-row flex-wrap">
                        <button type="submit" class="font-roboto contact-submit text-uppercase">{% trans "Submit" %}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="{{ toast_class }}" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto">{{ toast_header }}</strong>
                <button type="button" onclick="handle_toast_hide()" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                {{ toast_body }}
            </div>
        </div>
    </section>

{% endblock content %}