{% extends "blog/base.html" %}

{% load i18n %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

{% block content %}
    <!--
    <section class="brand-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="first-row row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-brand">
                                <a href="https://www.policja.pl" target="_blank">
                                    <img src="{% static 'blog/images/brands/police.png' %}" alt="Brand-1">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->

    <section class="brand-area">
        <div class="d-flex justify-content-between">
            <div class="single-brand">
                <a href="https://www.policja.pl" target="_blank">
                    <img src="{% static 'blog/images/brands/police.png' %}" alt="Brand-1">
                </a>
            </div>
        </div>
    </section>

{% endblock content %}