{% extends "blog/base.html" %}

{% load i18n %}
{% load static %}

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

{% block content %}

    <script>
        $(document).ready(function() {
        $(".button").click(
            function (event) {
                document.getElementById(this.getAttribute("data-link")).click();
            }
        )
    })
    </script>

    <!-- Start Main Area -->
    <main class="site-main">
    
    <!-- Start Banner Area -->
        <section class="site-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 site-title">
                        <h3 class="title-text">{% trans "Hey" %}</h3>
                        <h1 class="title-text text-uppercase">{% trans "I am Matthew" %}</h1>
                        <h4 class="title-text text-uppercase">Junior Python Developer</h4>
                        <div class="side-buttons">
                            <div class="d-flex flex-row flex-wrap">
                                <a id="hireMeLink" href="{% url 'blog-contact' %}"></a>
                                <button data-link="hireMeLink" type="button" class="btn button primary-button mr-4 text-uppercase {{ home_buttons_class}}">{% trans "Hire Me" %}</button>
                                <a id="cvLink" href="{% static 'blog/CV_Kelner_Mateusz.pdf' %}" target="_blank"></a>
                                <button data-link="cvLink" class="btn button secondary-button text-uppercase {{ home_buttons_class }}">{% trans "get my cv" %}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 banner-image">
                        <img src="{% static 'blog/images/banner/banner-image.png' %}" alt="banner-img" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
    <!-- End Banner Area -->
    </main>
    <!-- End Main Area -->
{% endblock content %}