{% load static %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

<header class="header_area">
        <div class="main-menu">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="d-flex"></div>
              <a class="navbar-brand" href="{% url 'blog-home' %}"><img src="{% static 'blog/images/logo.png' %}" width="139" height="35"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
                <ul id="parent-id" class="navbar-nav">
                  <li class="{{ home }}">
                    <a class="nav-link" href="{% url 'blog-home' %}">{% trans "Home" %}<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="{{ about }}">
                    <a class="nav-link" href="{% url 'blog-about' %}">{% trans "About me" %}</a>
                  </li>
                  <li class="{{ experience }}">
                    <a class="nav-link" href="{% url 'blog-experience' %}">{% trans "Experience" %}</a>
                  </li>
                  <li class="{{ portfolio }}">
                    <a class="nav-link" href="{% url 'blog-portfolio' %}">Portfolio</a>
                  </li>
                  <li class="{{ contact }}">
                    <a class="nav-link" href="{% url 'blog-contact' %}">{% trans "Contact" %}</a>
                  </li>
                  <li class="nav-item">
                      <form action="{% url 'set_language' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="next" value="{{ redirect_to }}">
                      <select name="language" id="" onchange="this.form.submit()">
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                {{ language.name_local }}
                            </option>
                        {% endfor %}
                       </select>
                       </form>
                  </li>
                </ul>
              </div>
            </nav>
        </div>
    </header>