{% extends "blog/base.html" %}

{% load i18n %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

{% block content %}

<script>
    $(document).ready(function() {
        $(".primary-button").click(
            function (event) {
                document.getElementById(this.getAttribute("data-link")).click();
            }
        )
    })
</script>

<section class="portfolio-area">
    <h2 class="font-roboto">{% trans "My Portfolio" %}</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="container-portfolio">
                <div class="single-project">
                    <img class="image" src="{% static 'blog/images/portfolio/this_site.png' %}" alt="Project-1">
                    <div class="overlay">
                        <div class="text font-roboto">{% trans "This page " %}</div>
                            <div class="d-flex flex-row flex-wrap portfolio-flex">
                                <a id="thisPageLink" href="https://gitlab.com/Wendrowiec/personalwebsite" target="_blank"></a>
                                <button data-link="thisPageLink" type="submit" class="btn button primary-button button-overlay" >{% trans "Git Repository " %}<i class="fab fa-github"></i></button>
                            </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="container-portfolio">
                <div class="single-project">
                    <img class="image" src="{% static 'blog/images/portfolio/mat-sci-board.png' %}" alt="Project-2">
                    <div class="overlay">
                        <div class="text font-roboto">MatSciBoard</div>
                        <div class="d-flex flex-row flex-wrap portfolio-flex">
                            <a id="matSciBoardLink" href="" target="_blank"></a>
                            <button data-link="matSciBoardLink" type="button" class="btn button primary-button button-overlay" >{% trans "Work in progress... " %}<i class="fab fa-github"></i></button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="container-portfolio">
                <div class="single-project">
                    <img class="image" src="{% static 'blog/images/portfolio/internet_invaders.png' %}" alt="Project-3">
                    <div class="overlay">
                        <div class="text font-roboto">Internet Invaders</div>
                        <div class="d-flex flex-row flex-wrap portfolio-flex">
                            <a id="internetInvadersLink" href="https://play.google.com/store/apps/details?id=com.CzajnikStudio.InternetInvaders&hl=en&gl=US" target="_blank"></a>
                            <button data-link="internetInvadersLink" class="btn button primary-button button-overlay">{% trans "Android app " %}<i class="fab fa-android"></i></button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}